body{
    background-image: url("../imag/user_bg.png");
    padding-bottom: 20px;
}

.user-info {
    background-color: white;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e2e2e2;
    padding: 10px;
    margin-bottom: 20px;
}

.user-info hr{
    margin: 0;
}

.user-info .btn{
    margin: 10px;
}
.user-message{
    background-color: white;
    margin: 0 3px;
    border-radius: 10px;
}

.user-avatar{
    padding-right: 20px;
    float: left;
}

.user-name{
    padding: 10px;
}

.user-name b{
    font-size: 20px;
}

.mem-num{
    color: #777777;
}
.cell {
    padding: 10px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    float: none;
}

.cell a{
    color: #778087;
    text-decoration: none;
    word-break: break-all;
}

.social_label:link, .social_label:visited {
    background-color: #f9f9f9;
    padding: 5px 15px 5px 6px;
    font-size: 14px;
    line-height: 100%;
    text-decoration: none;
    display: inline-block;
    margin: 0px 10px 10px 0px;
    border-radius: 20px;
    outline: none;
}