<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- 配置JDBC里batch的大小 -->
        <property name="jdbc.batch_size">50</property>
        <property name="cache.use_second_level_cache">false</property>
        <!-- 配置线程安全的session -->
        <property name="current_session_context_class">thread</property>
        <!--驱动程序-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- JDBC URL -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost/VirtualJudge?characterEncoding=utf-8</property>
        <!-- 数据库用户名-->
        <property name="hibernate.connection.username">root</property>
        <!-- 数据库密码-->
        <property name="hibernate.connection.password">password</property>
        <!-- SQL方言，这边设定的是MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">false</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="format_sql">true</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <!--C3P0配置 -->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.timeout">120</property>
        <property name="automaticTestTable">Test</property>
        <property name="hibernate.c3p0.max_statements">100</property>
        <property name="hibernate.c3p0.idle_test_period">120</property>
        <property name="hibernate.c3p0.acquire_increment">2</property>
        <property name="c3p0.testConnectionOnCheckout">true</property>
        <property name="c3p0.idleConnectionTestPeriod">18000</property>
        <property name="c3p0.idleConnectionTestPeriod ">18000</property>
        <property name="c3p0.maxIdleTime">25000</property>
        <property name="c3p0.idle_test_period">120</property>
    </session-factory>
</hibernate-configuration>